/*root code */
* {
    font-family: 'Inter', sans-serif;
}

body {
    background-color: hsl(36, 100%, 99%);
}

a {
    text-decoration: none;
}

/* header (with logo)*/

.nav-bar {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}

.logo {
    width: 80%;
    margin-left: 20%;
}

.menu-btn {
    font-size: 60px;
    position: relative;
    top: 0;
    right: 5vw;
    color: #000;
}

#desktop-menu {
    display: none;
}

/*Nav bar */

.offcanvas-nav {
    background-color: hsl(36, 100%, 99%);
    width: 70vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: all .8s ease;
}

.offcanvas-nav.active {
    transform: translateX(0);
}

.offcanvas-flex-nav {
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
    margin-left: 5vw;
}

.offcanvas-flex-nav li {
    margin: 13px 0;
}

.offcanvas-flex-nav li a {
    color: #000;
    font-weight: 400;
}

.offcanvas-flex-nav li a:hover {
    color: hsl(5, 85%, 63%);
}

.x-btn {
    position: absolute;
    top: 0;
    right: 5vw;
    font-size: 60px;
    color: #000;
}

/*main banner image*/

.mb-image {
    width: auto;
    height: 17.5em;

}

.img {
    display: flex;
    justify-content: center;
}

/*main article*/

h1 {
    font-size: 39px;
    font-weight: 800;
    margin: 5% 1%;
}

.mb-flex {
    display: flex;
    flex-direction: column;
    margin: 4% 6%;
}

p {
    font-size: 15px;
    line-height: 1.4;
    color: hsl(236, 13%, 42%);
}

button {
    background-color: hsl(5, 85%, 63%);
    border: none;
    border-radius: 3px;
    margin: 5% 0;
    padding: 0.7rem 1.7rem;
    align-self: flex-start;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
}

button:hover {
    background-color: hsl(240, 100%, 5%);
}

/*side articles*/

aside {
    background-color: hsl(240, 100%, 5%);
    margin: 0 6%;
    padding: 5%;
    border-radius: 3px;
}

h2 {
    color: hsl(35, 77%, 62%);
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}

h3 {
    color: #fff;
    font-weight: 600;
    margin-bottom: 10px;

}

h3:hover {
    color: hsl(35, 77%, 62%);
}

h3:nth-child(1n) {
    margin-top: 30px;
}

h3:nth-of-type(1n+2) {
    border-top: 0.1em solid #fff;
    padding-top: 30px;
}

aside p {
    color: hsl(233, 8%, 79%);
    font-weight: 200;
}

/*articles*/
article {
    display: flex;
    flex-direction: row;
    margin: 10% 6%;
    
}

.article-img {
    width: 130px;
    margin-right: 5%;
    border-radius: 3px;
}

.num {
    color: hsla(233, 8%, 79%, 0.970);
    display: block;
    font-weight: 700;
    font-size: 30px;
}

.article-bold {
    font-weight: 800;
    color: #000;
    display: block;
    line-height: 3;
}

.article-bold:hover {
    color: hsl(5, 85%, 63%)
}

article>p {
    line-height: 1.7;
}

@media (min-width: 1000px) {

    /* header (with logo)*/
    /*desktop Nav bar */
    .logo {
        display: none;
    }

    .menu-btn {
        display: none;
    }

    #desktop-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 25px;
        padding-left: 6%;
        text-decoration: none;
    }

    .flex-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0 25px;
    }

    .flex-menu li a {
        color: hsl(240, 100%, 5%);
        padding: 10px 20px;
        transition: all .3s ease;
    }

    .flex-menu li a:hover {
        color: hsl(5, 85%, 63%);
        background-color: hsla(240, 100%, 5%, 0.164);
        border-radius: 15px;
        padding: 10px 20px;
        transition: all .3s ease;
    }

    /*main article*/


    .main-flex {
        margin: 0 auto;
        width: 80em;
        height: 35em;
        display: flex;
    }


    .mb-flex {
        margin-right: 0;
        margin-left: 5%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .flex-title {
        width: 50%;
        align-self: flex-start;

    }

    .flex-para {
        width: 50%;
        align-self: flex-end;
    }

    /*side articles*/
    aside {
        height: 25rem;
        width: 100%;
        margin: 4% 5% 0 5%;
        padding: 3% 3%;
        border-radius: 3px;
    }

    /*articles*/
    .articles-flex {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    article {
        display: flex;
        flex-direction: row;
        margin: 3% 2%;
    }

    article:first-child {
        margin-left: 8%;
    }

    article:last-child {
        margin-right: 8%;
    }

    .article-img {
        width: 8rem;
        margin-right: 5%;
        border-radius: 3px;
    }

}